# SPDX-License-Identifier: GPL-2.0-only
## Required configuration
app_config_app_key     = ""
app_config_db_host     = ""
app_config_db_password = ""
app_config_redis_host  = ""
ingress_host_url       = ""

## Customizable defaults
app_backend_replicas = 1
app_name             = "invoice-ninja"
app_namespace        = "default"
app_version          = "unknown"
kubeconfig_path      = "~/.kube/config"
kubeconfig_context   = "default"

app_config_cache_driver                 = "redis"
app_config_db_connection                = "mysql"
app_config_db_database_name             = "invoice_ninja"
app_config_db_database_port             = 3306
app_config_db_username                  = "invoice_ninja"
app_config_delete_backup_days           = 90
app_config_delete_pdf_days              = 0
app_config_enable_debug                 = false
app_config_error_email                  = ""
app_config_log_channel                  = "stderr"
app_config_mailer                       = "log"
app_config_mailer_encryption            = "tls"
app_config_mailer_from_addr             = "invoice@localhost"
app_config_mailer_from_name             = "Invoice Ninja"
app_config_mailer_host                  = ""
app_config_mailer_log_channel           = "stderr"
app_config_mailer_password              = ""
app_config_mailer_port                  = 587
app_config_mailer_username              = ""
app_config_pdf_generator                = "snappdf"
app_config_plugins_openexchange_app_id  = ""
app_config_plugins_zip_tax_key          = ""
app_config_queue_connection_backend     = "redis"
app_config_queue_workers_backoff_period = 10
app_config_queue_workers_max_tries      = 3
app_config_queue_workers_memory_max     = 256
app_config_queue_workers_sleep_period   = 3
app_config_redis_password               = ""
app_config_redis_port                   = 6379
app_config_session_driver               = "redis"
app_config_trusted_proxies              = "*"
app_config_update_secret                = ""
configmap_app_additional_labels         = {}
configmap_app_annotations               = {}
container_image                         = "pouncetech/invoiceninja:0.0.4-invoicev5.10.3"
container_image_pull_policy             = "IfNotPresent"
container_resources_limits = {
  cpu    = "1000m"
  memory = "512Mi"
}
container_resources_requests = {
  cpu    = "500m"
  memory = "256Mi"
}
upkeep_container_resources_limits = {
  cpu    = "1000m"
  memory = "512Mi"
}
upkeep_container_resources_requests = {
  cpu    = "500m"
  memory = "256Mi"
}
deployment_additional_labels                   = {}
deployment_annotations                         = {}
deployment_pods_additional_labels              = {}
deployment_pods_annotations                    = {}
deployment_replicas                            = 1
ingress_additional_labels                      = {}
ingress_annotations                            = {}
ingress_class                                  = "traefik"
ingress_controller                             = "traefik"
liveness_probe_failure_threshold               = 6
liveness_probe_initial_delay                   = 60
upkeep_liveness_probe_failure_threshold        = 6
upkeep_liveness_probe_initial_delay            = 60
persistent_volume_claim_annotations            = {}
persistent_volume_claim_labels                 = {}
persistent_volume_claim_storage_capacity       = "10Gi"
persistent_volume_claim_storage_class          = "local-path"
persistent_volume_storage_claim_capacity_limit = "20Gi"
readiness_probe_failure_threshold              = 6
readiness_probe_initial_delay                  = 30
upkeep_readiness_probe_failure_threshold       = 6
upkeep_readiness_probe_initial_delay           = 30
secrets_additional_labels                      = {}
secrets_annotations                            = {}
service_account_additional_annotations         = {}
service_account_labels                         = {}
service_account_name                           = "invoice-ninja"
service_additional_labels                      = {}
service_annotations                            = {}
service_container_port                         = 443
service_type                                   = "ClusterIP"
traefik_entrypoints                            = ["websecure"]
use_ingress                                    = true
caddy_global_options                           = ""
caddy_server_extra_directives                  = "tls internal"
